{% extends "base.html" %}

{% block title %}Aide - Voir la carte{% endblock %}

{% block content %}
<style>
    nav #carte {
    background-color: red;
}
</style>
<h1>Visualisation de la carte</h1>

<div class="map-preview">
    <img src="{{ url_for('static', filename='images/carte-preview.png') }}"
         alt="Aperçu de la carte"
         style="width: 100%;
                max-height: 200px;
                object-fit: cover;
                margin-bottom: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
</div>

<div class="section">
    <h2>Comment visualiser les voiliers sur la carte</h2>
    <ol>
        <li>Vous devez activer la case à cocher "Lancer le NMEA 2000 en temps réel".<br>
            Et il faut bien sur se connecter !
            <ul>
                <li>Cliquez sur le bouton "Open", puis cliquez sur le bouton bleu sur la barre d'outls.</li>
            </ul>
        </li>
<br>
        <li>Cliquez sur l'icone en forme de voilier sur la barre d'outils.
            <ul>
                <li>Vous voyez ou est votre bateau sur la carte, avec sa projection.</li>
                <li>Vous pouvez diminuer ou augmenter le zoom.<br></li>
                <li>Vous pouvez voir l'enssemble des bateaux AIS avec leur projections.</li>
                <li>Vous pouvez changer la vue.<br></li>
            </ul>
        </li>

    </ol>

    <div class="tip">
        <strong>Remarque :</strong> Vous suivez votre bateau avec un rafraichissement toutes les trois secondes.<br>
        En rafraichissement de dix seconde vous avez les AIS avec leurs distance parcourues projetées.
    </div>

    <h3>Formats supportés</h3>
    <ul>
        <li>Cartes .mbtiles</li>
        <li><a href="https://www.mediafire.com/file/rmryx28qd46zpy8/SASPlanet_250505_%255Bsasplanet.geojamal.com%255D.zip/file">Les cartes sont défini à l'aide SASPlanet</a></li>
    </ul>
</div>

<script>
// JavaScript spécifique à la page d'import si nécessaire
document.addEventListener('DOMContentLoaded', function() {
    // Votre code JavaScript ici
});
</script>
{% endblock %}
