{% extends "base.html" %}

{% block title %}Aide - Exporter{% endblock %}

{% block content %}
<style>
    nav #export {
    background-color: red;
}
</style>
<h1>Exporter</h1>

<div class="section">
    <h2>Comment exporter le NMEA 2000</h2>
    <ol>
        <li>Cliquez sur le bouton "CSV" dans la barre d'outils.
            <ul>
                <li>Choisissez ou créez un fichier .csv.</li>
                <li>Cliquer sur 'Enregistrer'.</li>
            </ul>
        <li>Vous avez la possibilité de valider, ou de choisir les numéros des lignes à exporter.<br></li>

        <li>Vous avez à présent la possibilité de visualiser le fichier CSV en NMEA 2000.<br>
            <ul>
                <li></li>
            </ul>
        </li>

    </ol>

    <div class="tip">
        <strong>Information :</strong> Vous verrez sur le fichier .csv les différentes valeurs des PGN sur chaques
        lignes.
    </div>

    <ul>
        <li>Voyez un exemple du fichier .csv.</li>
    </ul>


    <div class="map-preview">
        <img src="{{ url_for('static', filename='images/CSV.png') }}"
             alt="Aperçu de la carte"
             style="width: 100%;
                max-height: 600px;
                object-fit: cover;
                margin: 0 auto 20px auto;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                display: block;">
    </div>

    <div class="error">
        <strong>Erreur :</strong> Si vous avez des "PGN inconnu sur cette version", faire moi passer votre fichier .txt
        ou .csv., que j'essaierai de corriger.
    </div>

    <h3>Formats supportés</h3>
    <ul>
        <li>Fichiers .csv</li>
    </ul>
</div>

<script>
    // JavaScript spécifique à la page d'import si nécessaire
    document.addEventListener('DOMContentLoaded', function() {
        // Votre code JavaScript ici
    });
</script>
{% endblock %}
