<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cartes Navigation</title>
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/mon.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
</head>
<body>

<div id="map"></div>
<div id="info"></div>
<button class="center-button" onclick="centerOnBoat()" title="Centrer sur le bateau">👀</button>

<div class="legend">
    <label for="projectionTime">Temps de projection (minutes):</label>
    <input id="projectionTime" max="1440" min="0" step="15" type="number" value="15">
    <button onclick="updateProjectionTime()">Appliquer</button>
    <div id="projectionInfo"></div>
</div>

<div class="legend" style="bottom: 120px;">
    <button onclick="saveHistory()">Sauvegarder l'historique</button>
    <button onclick="loadHistory()">Charger l'historique</button>
</div>


<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/mon.js') }}"></script>

</body>
</html>